# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [4]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup


browser = webdriver.Chrome(executable_path='./chromedriver')

browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [7]:
selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value("11")
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value("2018")

browser.find_element_by_id("ctl05_btnQuery").click()

In [8]:
html_source = browser.page_source
soup = BeautifulSoup(html_source, "html.parser")

In [11]:
table = soup.find('table', class_='TABLE_G')

In [39]:
table.find_all("tr")[1] # 1越到8月剛好是1到8

<tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">SO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2018/01</td><td>1.80</td><td> </td>
</tr>

In [30]:
import pandas as pd

In [48]:
d = {}
name =table.find_all("tr")[1].find_all("td")[0].text
d[name] = {}
for i in range(1,9):
    a = table.find_all("tr")[i].find_all("td")
    for td in range(len(a)):
        if len(a) == 5:
            if td == 2:
                date = a[td].text
            if td == 3:
                value = a[td].text
                d[name][date]=value
        if len(a) == 3:
            if td == 0:
                date = a[td].text
            if td == 1:
                value = a[td].text
                d[name][date]=value
pd.DataFrame(d)

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [61]:
d = {}
for i in range(1,21):
    a = table.find_all("tr")[i].find_all("td")
    if 1<=i<=8 or 13<=i<=20:
        if i == 1 or i == 13:
            name = table.find_all("tr")[i].find_all("td")[0].text
            d[name] = {}
        for j in range(len(a)):
            if len(a) == 5:
                if j == 2:
                    date = a[j].text
                if j == 3:
                    value = a[j].text
                    d[name][date] = value
            if len(a) == 3:
                if j == 0:
                    date = a[j].text
                if j == 1:
                    value = a[j].text
                    d[name][date] = value
pd.DataFrame(d)

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30